@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
    <div class=" col-xl-4">
            <div class="card bg-white text-dark" style="border-radius: 1rem;">
                <div class="card-body p-4 text-center">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="pb-5">
                        <h2 class="fw-bold mb-4 text-uppercase">Reset your password </h2>
                        <p class="text-dark-50 mb-3">We will send you an email to reset your password </p>

                        <div class="form-outline form-white mb-4">
                                <input placeholder="Email" type="email" id="typeEmailX" class="form-control shadow-none" asp-for="Input.Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <button class="btn btn-dark btn-lg px-5" type="submit">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
