<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VinylTown</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VinylTown.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Catalog" asp-action="Index">
                    <img style="width:50px" src="~/images/svg/logo.svg" />
                </a>
                <div class="collapse navbar-collapse">
                    <form method="get" asp-controller="Catalog" asp-action="Index" class="me-3">
                        <div class="form-white input-group" style="width: 250px;">
                            <input value="@ViewBag.Search" type="search" class="form-control" placeholder="Search" name="search" 
                            id="input">
                            <button class="input-group-text bg-white" type="submit">
                                <img style="width:20px" src="~/images/svg/navbar-search.svg" alt="" />
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shipping</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex flex-row ms-auto me-3">

                        <li>
                            <a asp-controller="Cart" asp-action="Index">
                                <img style="width:35px" src="~/images/svg/cart.svg" alt="cart" />
                            </a>
                        </li>

                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
            
     @RenderBody()

    <footer class="text-white text-center text-lg-start bg-dark mt-auto border-top">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Logo</h5>

                    <p>
                        Description
                    </p>

                    <div class="mt-4">
                        <a class="btn btn-icon btn-light" target="_blank" href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1">About</h5>

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Services</h5>       
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
