@model VinylTown.Features.Cart.CartViewModel

@{
    ViewData["Title"] = "Your Shopping Cart";
}

<section class="container pt-5">
@{
    if (Model.Items.Any())
    {
        <div>
            @foreach (var item in Model.Items)
            {
                @item.Name               
            }
        </div>
    }
    else
    {
        <h1 class="text-center">Your cart is empty</h1>
    }
}
</section>
