@model VinylTown.Features.Products.ProductsViewModel
@{
    ViewData["Title"] = "Catalog";
}



@*<form method="get">
    <div>
  
        <label>Aboba: </label>
        <select name="author" asp-items="Model.ProductAuthors"></select>
  
        <input type="submit" value="Фильтр" />
    </div>
</form>*@

<div class="container py-3">
    <div class="row">
        @{
            if (Model.Products.Any())
            {
                foreach (var item in Model.Products)
                {
                    <div class="col-lg-3 mb-4">
                        <div class="card">
                            <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Id">
                                <img src="~/images/catalog/@item.Image" class="card-img-top" alt="@item.Name" />
                            </a>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="small"><a href="#!" class="text-muted">Author's name</a></p>
                                    <h5 class="text-dark mb-0">$@item.Price.ToString("N2")</h5>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Id">
                                        <h6 class="mb-0">@item.Name</h6>
                                    </a>
                                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <partial name="_pagination" for="PagingInfo" />
            }
            else
            {
                <div class="col-md-12" style="text-align: center">
                    <h2>There's no products available. Try searching with another criteria</h2>
                </div>
            }
        }
    </div>
</div>

