@model VinylTown.Features.Products.ProductsViewModel
@{
    ViewData["Title"] = "Catalog";
}



@*<form method="get">
    <div>
  
        <label>Aboba: </label>
        <select name="author" asp-items="Model.ProductAuthors"></select>
  
        <input type="submit" value="Фильтр" />
    </div>
</form>*@


<div id="product-container" class="container py-3">
    <div class="row">
        @{
            if (Model.Products.Any())
            {
                foreach (var item in Model.Products)
                {
                    <div class="col-md-12 col-lg-3 mb-3 mb-4">
                        <div class="card">
                            <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Id">
                                <img src="~/images/catalog/@item.Image" class="card-img-top" alt="@item.Name" />
                            </a>
                            <div class="card-body">
                                <div class="text-center">
                                    <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Id">
                                        <h6 class="mb-2">@item.Name</h6>
                                    </a>
                                    <h6 class="text-dark">$@item.Price.ToString("N2")</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <partial name="_pagination" for="PagingInfo"/>
            }
            else
            {
                <div class="col-md-12" style="text-align: center">
                    <h2>There's no products available. Try searching with another criteria</h2>
                </div>
            }
        }
    </div>
</div>

