@model VinylTown.Features.Products.ProductDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}

    <section class="container pt-3">
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
                <img class="img-fluid" src="~/images/catalog/@Model.Image" alt="@Model.Name" />
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h2>@Model.Name</h2>
                <h3>@Model.Price</h3>
                <button class="btn btn-success">ADD TO CARD</button>
            </div>
        </div>
    </section>